<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <title>Earthquake</title>
    <style>

        .btn-success {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }

        .btn-success:hover {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }

        .btn-check:focus + .btn-success, .btn-success:focus {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
            box-shadow: 0 0 0 0.25rem #d7a3f7;
        }

        .btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }

        .btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem #d7a3f7;
        }

        .btn-success:disabled, .btn-success.disabled {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }


    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light fw-bold" style="background-color: #d7a3f7;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">Home</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/course/flood">Flood</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course/fire">Fire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course/earthquake">Earthquake</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-lighter" href="/help"><small>Help</small></a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class=" btn btn-light mx-2 fw-bold" href="/user">User <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-2 fw-bold" aria-current="page"
                           href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light fw-bold" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container my-lg-5">

    <div class="m-auto w-75">
        <h3>Prepare Before an Earthquake</h3>
        <i>The best time to prepare for any disaster is before it happens.</i>
        <ul>
            <li>Practice Drop, Cover, and Hold On with family and coworkers.</li>
            <li>Make an Emergency Plan: Create a family emergency communications plan that has an out-of-state contact.
                Plan where to meet if you get separated. Make a supply kit that includes enough food and water for
                several days, a flashlight, a fire extinguisher and a whistle.
            </li>
            <ul>
                <li>Being prepared allows you to avoid unnecessary excursions and to address minor medical issues at
                    home, alleviating the burden on urgent care centers and hospitals.
                </li>
                <li>Remember that not everyone can afford to respond by stocking up on necessities. For those who can
                    afford it, make essential purchases and slowly build up supplies.
                </li>
            </ul>
            <li>Protect Your Home: Secure heavy items in your home like bookcases, refrigerators, water heaters,
                televisions and objects that hang on walls. Store heavy and breakable objects on low shelves.
            </li>

            <ul>
                <li>Consider making improvements to your building to fix structural issues that could cause your
                    building to collapse during an earthquake.
                </li>
                <li>Consider obtaining an earthquake insurance policy. A standard homeowner’s insurance policy does not
                    cover earthquake damage.
                </li>
            </ul>
        </ul>

        <div class="d-flex justify-content-center">
            <img src="/pictures/Earthquake.jpg" class="m-auto" width="700">
        </div>

        <h3>Stay Safe During</h3>
        If an earthquake happens, protect yourself right away:
        <ul>
            <li>If you are in a car, pull over and stop. Set your parking brake.</li>
            <li>If you are in bed, turn face down and cover your head and neck with a pillow.</li>
            <li>If you are outdoors, stay outdoors away from buildings.</li>
            <li> If you are inside, stay and do not run outside and avoid doorways.</li>
        </ul>
        <h4>Protect Yourself During Earthquakes</h4>
        <div class="row">
            <div class="col">
                <b>1. Drop (or Lock)</b>
                <p>Wherever you are, drop down to your hands and knees and hold onto something sturdy. If you’re using a
                    wheelchair or walker with a seat, make sure your wheels are locked and remain seated until the
                    shaking stops.</p>
            </div>
            <div class="col">
                <b>2. Cover</b>
                <p>Cover your head and neck with your arms. If a sturdy table or desk is nearby, crawl underneath it for
                    shelter. If no shelter is nearby, crawl next to an interior wall (away from windows). Crawl only if
                    you can reach better cover without going through an area with more debris. Stay on your knees or
                    bent over to protect vital organs.</p></div>
        </div>

        <div class="row">
            <div class="col">
                <b>3. Hold On</b>
                <p>If you are under a table or desk, hold on with one hand and be ready to move with it if it moves. If
                    seated and unable to drop to the floor, bend forward, cover your head with your arms and hold on to
                    your neck with both hands.</p>
            </div>
            <div class="col">
            </div>
        </div>


        <div class="justify-content-center d-flex">
            <iframe width="700" height="400" src="https://www.youtube.com/embed/cPUUIwdyX4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <h3>Stay Safe After</h3>
        <b>There can be serious hazards after an earthquake, such as damage to the building, leaking gas and water
            lines, or downed power lines.</b>
        <ul>
            <li>Wash your hands with soap and water after holding on to commonly touched surfaces or objects. If you are
                unable to wash your hands, use hand sanitizer that contains at least 60 percent alcohol.
            </li>
            <li>Expect aftershocks to follow the main shock of an earthquake. Be ready to Drop, Cover, and Hold On if
                you feel an aftershock.
            </li>
            <li>If you are in a damaged building, go outside and quickly move away from the building. Do not enter
                damaged buildings.
            </li>
            <li>If you are trapped, send a text or bang on a pipe or wall. Cover your mouth with your shirt for
                protection and instead of shouting, use a whistle.
            </li>
            <li>If you are in an area that may experience tsunamis, go inland or to higher ground immediately after the
                shaking stops. Avoid contact with floodwaters as they can contain chemicals, sewage, and debris.
            </li>
            <li>Check yourself to see if you are hurt and help others if you have training. Learn how to be the help
                until help arrives.
            </li>
            <ul>
                <li>If you are sick or injured and need medical attention, contact your healthcare provider for
                    instructions.
                </li>
            </ul>
        </ul>

        <div class="row my-5">
            <div class="col ">
                <a class="btn btn-success w-100" href="/test/earthquake">
                    Start test now
                </a>
            </div>
        </div>

    </div>
</div>

<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>