<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <title>Fire</title>
    <style>

        .btn-success {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }

        .btn-success:hover {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }

        .btn-check:focus + .btn-success, .btn-success:focus {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
            box-shadow: 0 0 0 0.25rem #d7a3f7;
        }

        .btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }

        .btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem #d7a3f7;
        }

        .btn-success:disabled, .btn-success.disabled {
            color: #fff;
            background-color: #7835a1;
            border-color: #d7a3f7;
        }


    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light fw-bold" style="background-color: #d7a3f7;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">Home</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/course/flood">Flood</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course/fire">Fire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course/earthquake">Earthquake</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-lighter" href="/help"><small>Help</small></a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class=" btn btn-light mx-2 fw-bold" href="/user">User <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-2 fw-bold" aria-current="page"
                           href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light fw-bold" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container my-lg-5">
    <div class="w-75 m-auto">
        <h3>Before a Fire</h3>
        If you are insured, contact your insurance company for detailed instructions on protecting your property,
        conducting inventory and contacting fire damage restoration companies.

        <h4>Create and Practice a Fire Escape Plan</h4>
        Remember that every second counts in the event of a fire. Escape plans help you get out of your home quickly.
        Practice your home fire escape plan twice each year. Some tips to consider when preparing this plan include:

        <ul>
            <li>Find two ways to get out of each room in the event the primary way is blocked by fire or smoke.</li>
            <li>Make sure that windows are not stuck, screens can be taken out quickly and that security bars can be
                properly opened.
            </li>
            <li>Practice feeling your way out of the house in the dark or with your eyes closed.</li>
            <li>Teach children not to hide from firefighters.</li>
            <li>If you use a walker or wheelchair, check all exits to be sure you can get through the doorways.</li>
        </ul>

        <div class="d-flex justify-content-center">
            <iframe width="700" height="400" src="https://www.youtube.com/embed/ec9ILB8lQlo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <h4>Fire Safety Tips</h4>
        <ul>
            <li>Make digital copies of valuable documents and records like birth certificates.</li>
            <li>Sleep with your bedroom door closed.</li>
            <li>Keep a fire extinguisher in your kitchen. Contact your local fire department for assistance on proper
                use and maintenance.
            </li>
            <li>Consider installing an automatic fire sprinkler system in your residence.</li>
        </ul>

        <h3>During a Fire</h3>
        <ul>
            <li> Drop down to the floor and crawl low, under any smoke to your exit. Heavy smoke and poisonous gases
                collect first along the ceiling.
            </li>
            <li> Before opening a door, feel the doorknob and door. If either is hot, or if there is smoke coming around
                the door, leave the door closed and use your second way out.
            </li>
            <li> If you open a door, open it slowly. Be ready to shut it quickly if heavy smoke or fire is present.</li>
            <li> If you can’t get to someone needing assistance, leave the home and call 9-1-1 or the fire department.
                Tell the emergency operator where the person is located.
            </li>
            <li> If pets are trapped inside your home, tell firefighters right away.</li>
            <li> If you can’t get out, close the door and cover vents and cracks around doors with cloth or tape to keep
                smoke out. Call 9-1-1 or your fire department. Say where you are and signal for help at the window with
                a light-colored cloth or a flashlight.
            </li>
            <li>If your clothes catch fire, stop, drop and roll – stop immediately, drop to the ground and cover your
                face with your hands. Roll over and over or back and forth until the fire is out. If you or someone else
                cannot stop, drop and roll, smother the flames with a blanket or towel. Use cool water to treat the burn
                immediately for three to five minutes. Cover with a clean, dry cloth. Get medical help right away by
                calling 9-1-1 or the fire department.
            </li>
        </ul>

        <div class="d-flex justify-content-center">
            <img src="/pictures/Fire.jpg" class="m-auto" width="700">
        </div>

        <h3>After a Fire</h3>
        <ul>
            <li>Contact your local disaster relief service, such as The Red Cross, if you need temporary housing, food
                and medicines.
            </li>
            <li>Check with the fire department to make sure your residence is safe to enter.</li>
            <li>DO NOT attempt to reconnect utilities yourself. The fire department should make sure that utilities are
                either safe to use or are disconnected before they leave the site.
            </li>
            <li>Conduct an inventory of damaged property and items. Do not throw away any damaged goods until after you
                make the inventory of your items.
            </li>
            <li>Begin saving receipts for any money you spend related to fire loss. The receipts may be needed later by
                the insurance company and for verifying losses claimed on your income tax.
            </li>
            <li>Notify your mortgage company of the fire.</li>
        </ul>

        <div class="row my-5">
            <div class="col ">
                <a class="btn btn-success w-100" href="/test/fire">
                    Start test now
                </a>
            </div>
        </div>

    </div>
</div>


<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>